<footer class="footer">
  <span>
    &copy; 2025. Made by Iqbalev |
    <a
      href="https://github.com/iqbalev/members-only/"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="/icons/icon-github.svg" alt="icon-github"
    /></a>
  </span>
</footer>
