<header class="header">
  <h1 class="site-title"><a href="/">Members Only</a></h1>
  <% if (currentPage !== "register" && currentPage !== "login" && currentPage
  !== "index") { %> <%- include("nav.ejs") %> <% } %>
</header>
