<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Feed</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("../views/partials/header.ejs", { currentPage }) %>

    <main class="feed-content">
      <% if (locals.user) { %>
      <h3>Hello, <%= user.username %>!</h3>
      <% } %>
    </main>
  </body>
</html>
