<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("../views/partials/header.ejs") %>

    <main class="main-content">
      <h2><%= title %></h2>
    </main>
  </body>
</html>
